<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <header></header>
    <body>
<%= form_with(model: @twidata, local:true, url: new_or_edit ) do |form| %>
<% if @twidata.errors.any? %>
    <div>
    <% @twidata.errors.full_messages.each do |msg| %>
    <%= msg %>
    <% end %>
    </div>
    <% end %>
    
    <%= form.label :content %>
    <p id="form"><%= form.text_field :content %></p>
    <%= form.submit '投稿する' %>
<% end %>

</body>
<footer></footer>
</html>