<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <header></header>
    <body>
<h1>投稿一覧</h1>
<p><%= link_to '新しく投稿する' , new_twiapp_path %></p>
<%= notice %>
<div align="center">
<table>
    <% @twisdata.each do |twi| %>
    <tr>
    <td id="content"><%= twi.content %></td>
    </tr>
    <tr>
    <td>
    <%= link_to '投稿を編集する',edit_twiapp_path(twi.id)  %>
    <%= link_to '投稿を削除する',twiapp_path(twi.id) ,method: :delete %>
    <%= twi.created_at.strftime("%Y-%m-%d %H:%M") %>
    </td>
    </tr>
    <% end %>
</table>
</div>
<br>

</body>
<footer></footer>
</html> 