<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<header>twiapp
<span><%= link_to 'top' , root_path %></span>
<span><%= link_to '新しく投稿する' , new_twiapp_path %></span>
</header>
<div class="container">
<body>
<p>投稿一覧</p>
<%= notice %>
<div>
<table>
    <% @twisdata.each do |twi| %>
    <tr class="row">
    <td class="col-md-3"><%= twi.content %></td>
    </tr>
    <tr>
    <td>
    <%= link_to '投稿を編集する',edit_twiapp_path(twi.id)  %>
    <%= link_to '投稿を削除する',twiapp_path(twi.id) ,method: :delete %>
    <%= twi.created_at.strftime("%Y-%m-%d %H:%M") %>
    </td>
    </tr>
    <% end %>
</table>
</div>
</body>
</div>
<footer></footer>
</html>
